@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap");

:root {
  --theme-color: #0363d5;
  --theme-sec: #0653b3;
  --primary-text: #5b5b5b;
  --nav-text: rgb(138, 138, 138);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: aliceblue;
  font-family: "Poppins";
}
.nav-toggler {
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 60px;
  padding-left: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #fff;
  height: 50px;
  background: var(--theme-sec);
  text-align: center;
}
.nav-toggler span {
  background-color: #fff;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.nav-toggler.active span:first-child {
  /* transform-origin: 0% 0%; */
  transform: rotate(45deg) translate(8px, -2px);
}
.nav-toggler.active span:last-child {
  transform: rotate(-45deg) translate(0, 5px);
}
.nav-toggler.active span:nth-child(2) {
  transform: translateX(200px);
}
.navigation {
  background-color: var(--theme-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}
.navigation .logo {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  visibility: hidden;
}
.container {
  display: grid;
  height: calc(100vh - 100px);
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}
.dashboard-content {
  /* background-color: aliceblue; */
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.dashboard-nav {
  background-color: #fff;
  border-right: 1px solid #5b5b5b;
  transition: 0.5s all ease-in;
}
.dashboard-nav__logo {
  cursor: pointer;
  width: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--theme-color);
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}
ul.dashboard-nav__list {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}
.dashboard-nav__item:hover {
  background: #dfecfc;
  cursor: pointer;
  /* padding: 20px 70px; */
}
.dashboard-nav__item a {
  display: flex;
  text-decoration: none;
  color: var(--primary-text);
  padding: 20px 70px;
  transition: 0.4s background-color linear;
}
.dashboard-nav__item.active {
  background: #dfecfc;
}
.dashboard-nav__item {
  display: flex;
  font-family: "Poppins";
  color: var(--nav-text);
  align-items: center;
  /* padding: 20px 70px; */
  /* transition: 0.4s background-color linear; */
}
.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 20px;
}
.icon-img {
  width: 100%;
}

/* Main Content Area- */
.data-container {
  height: 0;
  transition: height 0.3s ease-in;
}
.data-container.data-ready {
  display: block;
  height: calc(100vh - 100px);
  padding: 10px 15px;
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
}
.loader {
  transition: all 0.3s ease-out;
  height: calc(100vh - 100px);
  padding: 10px 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 0;
  width: 100%;
  opacity: 0.7;
  background: var(--theme-color);
  max-height: calc(100vh - 100px);
  /* overflow-y: scroll; */
  z-index: -1;
}
.init-view {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.loader-feedback {
  width: auto;
  height: auto;
  position: absolute;
  top: 32%;
  text-align: center;
}
.overlay {
  content: "";
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  display: none;
  background-color: #5b5b5b;
}
.overlay.active {
  z-index: 0;
  display: block;
}
.init-title {
  margin-top: 40px;
  color: var(--primary-text);
  font-weight: normal;
}
.init-desc {
  color: var(--nav-text);
  font-weight: normal;
}
.btn {
  display: inline-block;
  background-color: var(--theme-color);
  color: #fff;
  outline: none;
  border: none;
  width: 180px;
  margin-top: 30px;
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 4px;
  transition: 0.4s background-color ease-in;
}
.btn:hover {
  background-color: var(--theme-sec);
  cursor: pointer;
}

/* Coins table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /* font-family: sans-serif; */
}
thead {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}
thead tr th {
  text-align: left;
  background: var(--theme-color);
  color: #fff;
  font-weight: 400;
  padding: 10px;
}

tbody {
  background: #f7f9fb;
  width: 100%;
}
tbody tr td {
  text-align: left;
  padding: 10px;
}
.name {
  display: flex;
  justify-content: start;
  padding: 10px;
  width: 150px;
  /* padding-left: 40px; */
}
.coin-image__wrap {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin: 2px 5px 0;
}
.coin-image__wrap .coin-img {
  height: 100%;
}
.coins-list {
  color: var(--primary-text);
  transition: all 0.45s ease-in;
  font-weight: 300;
  margin-bottom: 10px;
}
.coins-list:hover {
  background-color: #badcff;
  /* color: #fff; */
}

.coin-id {
  padding: 5px 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.price {
  color: rgb(44, 153, 255);
}
.red {
  color: crimson;
}
.green {
  color: #4bcb52;
}
/* Media Queries */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    grid-template-columns: 1fr;
  }
  .dashboard-nav {
    /* display: none; */
    transform: translateX(-500px);
    z-index: 100;
    position: absolute;
  }
  .dashboard-nav__logo {
    display: none;
  }
  .navigation .logo {
    visibility: visible;
    font-size: 35px;
  }
  .dashboard-nav__item a {
    padding: 15px 40px;
  }
  .dashboard-nav.active {
    /* display: none; */
    width: 235px;
    transform: translateX(0);
    position: absolute;
  }
  .nav-toggler {
    display: flex;
  }
}

/* Loaders Animation */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
